apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "selebrow.fullname" . }}
  labels:
    {{- include "selebrow.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "selebrow.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/values: {{ toYaml .Values.templateValues | sha256sum }}
        checksum/template: {{ toYaml .Values.browserTemplate | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "selebrow.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "selebrow.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion | default "latest" }}"
          {{- with .Values.image.pullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- if .Values.selebrow.proxy.enabled}}
            - name: proxy
              containerPort: {{ .Values.selebrow.proxy.port }}
              protocol: TCP
          {{- end }}
          livenessProbe:
            httpGet:
              path: /status
              port: http
          readinessProbe:
            httpGet:
              path: /status
              port: http
          env:
            - name: SB_NAMESPACE
              value: {{ .Values.selebrow.namespace | default .Release.Namespace }}
          {{- with .Values.selebrow.browserUri }}
            - name: SB_BROWSERS_URI
              value: {{ . | quote }}
          {{- end }}
          {{- with .Values.selebrow.logLevel}}
            - name: SB_LOG_LEVEL
              value: {{ . | quote }}
          {{- end }}
          {{- with .Values.selebrow.quota.limit }}
            - name: SB_QUOTA_LIMIT
              value: {{ . | quote }}
          {{- end }}
          {{- if .Values.selebrow.proxy.enabled }}
            - name: SB_PROXY_ENABLED
              value: "true"
            - name: SB_PROXY_LISTEN
              value: ":{{ .Values.selebrow.proxy.port }}"
            - name: SB_PROXY_ACCESS_LOG_LEVEL
              value: {{ .Values.selebrow.proxy.logLevel | quote }}
          {{- if not .Values.selebrow.proxy.host }}
            - name: SB_PROXY_HOST
              value: "{{ include "selebrow.fullname" . }}-proxy.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.selebrow.proxy.port }}"
          {{- end }}
          {{- end }}
          {{- with .Values.selebrow.proxy.host }}
            - name: SB_PROXY_HOST
              value: {{ . | quote }}
          {{- end }}
          {{- with .Values.selebrow.proxy.noProxy }}
            - name: SB_NO_PROXY
              value: {{ . | quote }}
          {{- end }}
          {{- with .Values.resources }}
          {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /config/values.yaml
              subPath: values.yaml
          {{- with .Values.browserTemplate }}
            - name: config
              mountPath: /config/pod-template.yaml
              subPath: pod-template.yaml
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "selebrow.fullname" . }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
