name: Release

on:
  push:
    tags:        
      - '**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: selebrow/selebrow

permissions: {}

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Create Draft Release
        run: gh release create ${GITHUB_REF_NAME} --generate-notes --draft
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-binary:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    strategy:
      matrix:
        os: [darwin, windows, linux]
        arch: [amd64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build Binary
        env:
          CGO_ENABLED: "0"
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make build

          if [[ "$GOOS" == 'windows' ]]; then
            gh release upload ${GITHUB_REF_NAME} bin/selebrow-windows-${{ matrix.arch }}.exe#selebrow-windows-${{ matrix.arch }}.exe
          else
            gh release upload ${GITHUB_REF_NAME} bin/selebrow-${{ matrix.os }}-${{ matrix.arch }}#selebrow-${{ matrix.os }}-${{ matrix.arch }}
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: selebrow-${{ matrix.os }}-${{ matrix.arch }}
          path: bin/selebrow-*

  release-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build Binary
        env:
          CGO_ENABLED: "0"
          GOOS: linux
          GOARCH: amd64
        run: make build

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          file: ./Dockerfile
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }},${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  release-helm-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v1
        with:
          version: 'v3.19.0'

      - name: Package Helm chart
        run: |
          helm package ./charts/selebrow -d ./charts --version ${GITHUB_REF_NAME} --app-version ${GITHUB_REF_NAME}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish chart to GHCR
        run: |
          helm push ./charts/selebrow-*.tgz oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/helm-charts
